[client]
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqld_safe]
socket                         = /var/lib/mysql/mysql.sock

[mysqld]
user                           = mysql
pid-file                       = /var/run/mysqld/mysql.pid
socket                         = /var/lib/mysql/mysql.sock
port                           = 3306
datadir                        = /var/lib/mysql
innodb_file_format             = Barracuda
innodb_file_per_table          = 1


#sync_binlog                      = 1
#log-bin                          = mysql-bin
#expire_logs_days                 = 5
#read_only

#binlog_do_db                     = jm2
#rpl_semi_sync_master_enabled     = 1
#rpl_semi_sync_slave_enabled      = 1
#rpl_semi_sync_master_timeout     = 3000

# slow query log
slow_query_log                 = 1
long_query_time                = 5
log_queries_not_using_indexes  = 1
min_examined_row_limit         = 10000
log_throttle_queries_not_using_indexes = 1

max_connections                = {{ max_connections }}
max_heap_table_size            = {{ max_heap_table_size }}
tmp_table_size                 = {{ tmp_table_size }}     #is thread buffer

# global buffer
# innodb_additional_mem_pool_size = {{ innodb_additional_mem_pool_size }}
innodb_buffer_pool_size         = {{ innodb_buffer_pool_size }} #ここ
innodb_log_buffer_size          = {{ innodb_log_buffer_size }}

# thread buffer
join_buffer_size                = {{ join_buffer_size }}
max_allowed_packet              = {{ max_allowed_packet }}
read_buffer_size                = {{ read_buffer_size }}
read_rnd_buffer_size            = {{ read_rnd_buffer_size }}
sort_buffer_size                = {{ sort_buffer_size }}

# query cache
query_cache_limit               = {{ query_cache_limit }}
query_cache_size                = {{ query_cache_size }}
query_cache_type                = {{ query_cache_type }}   #is global buffer

federated
